.buttons
    button.home-button(class=page === 'home' ? 'current-page' : 'inactive', onclick="location.href='/'") Home!
    button.schedule-button(class=page === 'schedule' ? 'current-page' : 'inactive', onclick="location.href='/schedule'") Schedule!
    button.syllabus-button(class=page === 'syllabus' ? 'current-page' : 'inactive', onclick="location.href='/syllabus'") Syllabus!
    button.study-button(class=page === 'study' ? 'current-page' : 'inactive', onclick="location.href='/study'") Study!
    span.title ECCS 2441 Web Dev