extends layout

block content

  h1.other Welcome to Web Development

  br
  br

  h3 Introduction:
  div.texts In this class, In this class, you will learn the building blocks of the web, including 
  div.texts HTML, CSS, JavaScript, and PUG, and explore the latest frameworks and tools of the 
  div.texts development process. Our hands-on approach and real-world projects will allow you 
  div.texts to turn your creative ideas into functional, professional-quality web projects.

  br
  br

  div.pug   ⠀⠀⠀⠀⢀⣤⡤⢤⣀⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  div.pug  ⠀⠀⣴⣾⣿⣶⣶⣄⠀⠈⠻⣿⣷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  div.pug  ⠀⣴⣿⣿⣿⣷⣿⣿⣧⠀⠀⣿⣿⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  div.pug  ⢸⣿⣿⣿⣿⣿⣿⠋⠉⠀⠀⠙⠿⠉⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⡶⠶⣦⣤⣄⠀⠀⠀⠀⠀⠀
  div.pug  ⠀⠻⣿⣿⣿⣿⡿⠀⠀⠀⠀⠀⠀⠀⠸⢧⣤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⡿⠉⠀⠀⠀⠀⠹⣆⠀⠀⠀⠀⠀
  div.pug  ⠀⠀⠀⠹⡟⠿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠿⢷⡶⠶⢶⡶⠞⠛⠛⠿⠿⠟⠛⠛⠛⠛⠉⠛⠆⠀⢻⡆⠀⠀
  div.pug  ⠀⠀⠀⠀⢿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡿⠀⠀⣿⠀⠀⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⠇⠀⠀⠀⠀
  div.pug  ⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⡿⠁⠀⠀⢸⡆⠀⢸⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠻⣦⠀⠀⠀⠀
  div.pug  ⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⢀⣴⠟⠋⠀⠀⠀⠀⡾⠁⠀⢀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣆⠀⠀⠀
  div.pug  ⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⣤⠴⠟⠁⠀⠀⠀⠀⠀⠸⠃⠀⠀⣼⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡄⠀⠀
  div.pug  ⠀⠀⠀⠀⠘⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀
  div.pug  ⠀⠀⠀⠀⠀⠘⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠆⠀⠀⠀⠀⠀⠀⠀⠀⢀⡤⢤⡀⠀⠀⠀⠀⠀⠀⣿⠃⠀⠀
  div.pug  ⠀⠀⠀⠀⠀⠀⠹⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⡾⠀⠀⠀⠀⠀⣀⣠⡴⠞⠋⢹⡄⠈⢦⡀⠀⠀⠀⠀⢸⡇⠀⠀
  div.pug  ⠀⠀⠀⠀⠀⠀⠀⠘⣷⢤⣀⡀⠀⠀⠀⠀⠀⣴⣿⣉⣠⠤⠤⠶⠿⠛⠋⠁⠀⠀⠀⠈⢻⡄⠈⢧⠀⠀⠀⠀⢀⣿⠀⠀
  div.pug  ⠀⠀⠀⠀⠀⠀⠀⠀⢹⣆⠈⠻⣿⢦⡀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣄⠈⢳⡀⠀⠀⠈⣯⠀⠀
  div.pug  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠻⣆⠀⢸⡜⡇⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢧⠈⢷⡀⠀⠀⠸⡆⠀
  div.pug  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⡄⠈⢇⢣⠀⢀⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢧⠀⠙⣦⠀⠀⢹⡆
  div.pug  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣧⠀⢸⡎⠀⢸⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⢸⠋⢳⡀⠘⡇
  div.pug  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡄⢸⡇⠀⣸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡜⠀⡏⠀⠀⢣⠀⡇
  div.pug  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⣏⣄⡾⠃⠀⡯⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠾⢥⣶⠇⠀⠀⡼⠀⢣
  div.pug  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⠚⠛⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢛⡛⠊